body{
    background-color: #F9F9F9;
    color: white;
    margin: 0;
}
header{
    background-color: #80558C;
}

.offcanvas-end{
    width:300px;
    background-color: #212529;
}

.intro{
    font-family: 'Square Peg', cursive;
    font-size: 3.5rem;
    text-align: center;
}
.role{
    font-family: 'Square Peg', cursive;
    font-size: 2.7rem;
    color:rgb(216, 217, 217);
    text-align: center;
}
.avatar{
    margin-bottom: 3.5rem;
}

.test{
    height: 500px;
    background-color: aqua;
}

footer{
    background-color: #212529;
}

footer a{
    text-decoration: none;
    font-weight: 250;
    color: white;
}
footer a:hover{
    color:rgb(158, 156, 156);
}
