body{
    background-color: #F9F5EB;
    color: white;
    margin: 0;
}
header{
    background-color: #1C3879;
}

.nav-item{
    padding: 16px;
}

.nav-link{
    font-size: 1.1rem;
}

.offcanvas-end{
    width:300px;
    background-color: #212529;
}

.intro{
    font-family: 'Square Peg', cursive;
    font-size: 3.1rem;
    text-align: center;
    font-weight: 600;
}
.role{
    font-family: 'Square Peg', cursive;
    font-size: 2.1rem;
    color:rgb(216, 217, 217);
    text-align: center;
}
.avatar{
    margin-bottom: 3.5rem;
}

.test{
    height: 500px;
    background-color: grey;
}

footer{
    background-color: #212529;
}

footer a{
    text-decoration: none;
    font-weight: 250;
    color: white;
}
footer a:hover{
    color:rgb(158, 156, 156);
}
